@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Lora:wght@400;500;600;700&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

@config "../../tailwind.config.mjs";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-block-title: var(--block-title);
  --color-select: var(--select);
  --color-hover: var(--hover);
}

:root {
  --background: theme(colors.theme.50);
  --foreground: theme(colors.theme.950);
  --border: theme(colors.theme.300);
  --ring: theme(colors.brand.400);
  --hover: theme(colors.brand.600);
  --select: theme(colors.brand.100);
  --block-title: theme(colors.brand.500);
}

.dark {
  --background: theme(colors.theme.950);
  --foreground: theme(colors.theme.50);
  --border: theme(colors.theme.600);
  --ring: theme(colors.brand.600);
  --hover: theme(colors.brand.300);
  --select: theme(colors.brand.950);
  --block-title: theme(colors.brand.200);
}

@layer base {
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis:not(.lenis-autoToggle).lenis-stopped {
    overflow: clip;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

  .lenis.lenis-autoToggle {
    transition-property: overflow;
    transition-duration: 1ms;
    transition-behavior: allow-discrete;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    @apply border-border outline-ring;
  }

  &::selection {
    @apply bg-select;
  }

  :focus-visible {
    @apply outline outline-dashed outline-offset-2;
  }

  html,
  body {
    @apply bg-background text-foreground font-default;
  }
  :root {
    --scrollbar-size: 5px;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    /* user-select: none; */
  }

  html,
  body {
    @apply bg-background text-foreground font-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    line-height: normal;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
  }

  a {
    color: inherit;
  }
}

@layer components {
  .layout {
    @apply container pt-24 pb-12 flex gap-4;
  }

  .block {
    @apply not-last:mb-4;

    .title {
      @apply text-body-1 font-500 mb-2;
    }

    .block-title {
      @apply border-b py-4 font-500 text-block-title;

      .title {
        @apply font-lead text-heading-4 m-0;
      }
    }

    .block-body {
      @apply py-4;
    }
  }

  .data-list {
    @apply list-disc ml-5;
  }

  .experience {
    @apply not-last:mb-4;

    .experience-header {
      @apply flex items-center justify-between mb-2 text-heading-6 font-500;
    }
    .experience-summary {
      @apply mb-4;
    }
  }

  .about {
    @apply space-y-2 py-4 border-t mt-4;
  }

  .contact-wrapper {
    @apply flex items-center gap-4 py-4;

    .contact {
      @apply hover:text-hover;
    }
  }
}
